<br>
<br>
<br>
<br>
<br>


<div class="awesome-box col-xs-6 col-xs-offset-3  text-center">
	<h1>
		Advice is Awesome!!
	</h1>

	<button type="button" class="btn btn-primary">Launch</button>	
	<br>
	<body>

</div>	